<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.ContactUs" description="ContactUs definition items" dependencies="Foundation.*" extends="Helix.Base.Extended">
                    <predicate>
                        <include name="Feature.ContactUs.ReactRenderings" database="master" path="/sitecore/layout/Renderings/Feature/Contact Us" />
                        <include name="Feature.ContactUs.Templates" database="master" path="/sitecore/templates/Feature/Contact Us" />
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>